<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <h1>Sign Up</h1>


    <form method="POST" action="/register">
      <input type="email" name="email" value="email">
      <input type="password" name="password" value="password">

      <button type="submit">Register</button>
    </form>






</body>
</html>