<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <p>
    <table>
      <tr>
        ShortUrl
      </tr>
      <td>
        <%= shortURL %>
      </td>
    </table>


  </p>


<form method="POST" action="/urls/<%= shortURL %> "><input type="text" name="longURL">  <button type="submit">Update</button></form>


</body>
</html>